<app-admin-nav></app-admin-nav>
<div class="container pt-4" id="main-container-employee">
  <button type="button" class="btn btn-success" (click)="onOpenModalEmployees(null, 'add')">Add new</button>
  <hr>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td><a href="#">{{ employee.employeeId }}</a></td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.role.roleName }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="onOpenModalEmployees(employee, 'delete')">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--ADD EMPLOYEE MODAL-->
<div class="modal" tabindex="-1" id="addEmployeeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addEmployeeForm="ngForm" (ngSubmit)="onAddEmployee(addEmployeeForm)">
          <div class="mb-3">
            <label for="employeeId" class="form-label">Employee Id</label>
            <input type="text" ngModel name="employeeId" class="form-control" id="employeeId"
                   aria-describedby="basic-addon1" required>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select [(ngModel)]="selectedRole" name="role" class="form-select" aria-label="Default select example"
                    id="role" required>
              <option *ngFor="let role of roles" [ngValue]=role>{{ role.roleId }} - {{ role.roleName }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" aria-describedby="basic-addon1"
                   required>
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" ngModel name="surname" class="form-control" id="surname" aria-describedby="basic-addon1"
                   required>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" ngModel name="username" class="form-control" id="username"
                   aria-describedby="basic-addon1" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" ngModel name="password" class="form-control" id="password" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="employee-close-button">Close
            </button>
            <button [disabled]="addEmployeeForm.form.invalid" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--DELETE EMPLOYEE MODAL-->
<div class="modal" tabindex="-1" id="deleteEmployeeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee: ID:{{deleteEmployee?.name }} Name: {{ deleteEmployee?.name }}?</p>
        <form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="delete-employee-modal-close">Close</button>
            <button type="button" class="btn btn-primary" (click)="onDeleteEmployee(deleteEmployee?.employeeId)">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--EDIT EMPLOYEE MODAL-->
